.hero {
    height: 100vh;
    background-image: url(../bilder/fruit_background.avif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background:
        linear-gradient(to bottom, transparent 70%, #ffffff), ;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 250px;
    letter-spacing: 15.5px;
     text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}