:root {
    --bakgrunnfarge-bla: rgb(26, 36, 74);
    --bla-hover: rgb(95, 115, 193);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    padding: 10px;

}

.top_container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;


}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top_container .unactive,
.top_container .unactive_2 {
    display: none;
}







.media {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.nav_media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    transition: background-color 0.5s ease;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 25px;
    transition: background-color 0.5s ease;
    display: inline-block;
}

header {
    display: flex;
    flex-direction: column;
}

.top_container .hamburger {
    display: none;
    padding: 10px;
}


nav a:hover,
.top a:hover {
    padding: 10px;
    border-radius: 10px;
}

footer {
    height: 50vh;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -65px;
}

.footer_container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;

}

.container_footer_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.f_container {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.thick {
    font-weight: bolder;
    padding-bottom: 10px;
}

.footer_container h5 {
    font-size: 30px;
    letter-spacing: 3px;
}

.logos img {
    width: 4%;
}

.logos {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media (width<780px) {
    .footer_container h5 {
        font-size: 25px;
    }

    .f_container {
        font-size: 15px;
    }
}



@media (width<630px) {


    .top_container .hamburger {
        display: block;
    }

    .top_container .nav_normal {
        display: none;
    }

    .top {
        align-items: flex-start;
    }

    .top_container .unactive_2 {
        display: flex;
    }

    .footer_container h5 {
        font-size: 20px;
    }

    .f_container {
        font-size: 12px;
    }

    footer {
        height: 40vh;
    }

}