:root {
    --bakgrunnfarge-bla: rgb(102, 178, 192);
    --bla-hover: rgb(95, 115, 193);

}

header {
    background-image: url(../bilder/background_2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero {
    flex: 1;
    /*spiser opp resten av plassen*/
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    align-items: center;
    margin: auto;
}

.hero>img {
    max-width: 30%;
    border-radius: 50%;

}

.montage_hero {
    width: 50%;
    position: relative;
    aspect-ratio: 1;
    /* holder formen responsiv */
}

.montage_hero img {
    position: absolute;
    max-width: 50%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1;
    border: 1px solid white;
}

.montage_hero img:nth-child(1) {
    top: 0%;
    left: 0%;
    z-index: 1;
}

.montage_hero img:nth-child(2) {
    top: 7%;
    left: 43%;
    z-index: 2;
}

.montage_hero img:nth-child(3) {
    top: 47%;
    left: -5%;
    z-index: 1;
}

.montage_hero img:nth-child(4) {
    top: 55%;
    left: 40%;
    z-index: 3;
}

#about {
    background-color: var(--bakgrunnfarge-bla);
}

.about_container {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80vh;
    padding-top: 8%;
}

.cursive {
    font-style: italic;
    color: rgb(162, 220, 220);
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(91, 159, 169);
    padding: 70px;
    z-index: 1;
    border-bottom-right-radius: 30%;
}

h1 {
    color: white;
    font-size: 50px;
}

.about_content>p {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.about_container>img {
    max-width: 50%;
    z-index: 2;
    border-top-right-radius: 20%;

}


.staff {
    background-color: var(--bakgrunnfarge-bla);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff_container {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.about_staff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
    gap: 20px;
}

h5 {
    font-size: 20px;
    letter-spacing: 1.4px;
    color: var(--bla-hover);
}

.staff_h2 {
    font-size: 60px;
    width: 70%;
}

.about_staff>p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.staff_pictures {
    position: relative;
}

.container_pictures {
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_pictures>span {
    background-color: var(--bla-hover);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    letter-spacing: 1.2px;
    margin-top: -20px;
    border-radius: 10px;
}

.container_pictures img {
    max-width: 250px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

.first {
    top: 200px;
    right: 200px;
}

.second {
    top: -70px;
    right: 250px;
}

.third {
    right: 0;
    top: 30px;
}